body {
    margin: 0;
    padding-top: 5vh;
}

.background-container {
    height: 53vh;
    width: 100%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    background-color: lightgrey;
}

.winner-title {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    align-content: center;
}

.previous-prompt {
    font-size: 30px;
    font-weight: bold;
    align-content: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70%;
    margin: 1px 0px 18px;
}

.img-config {
    max-width: 50%;
    max-height: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.winner-user-container {
    text-align: center;
}

#winner-user-name{
    font-size: 18px;
}