body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    align-items: center;
    background-color: #DE6767;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4vh;
}

.navbar-item-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav-items {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-left: 25px;
    margin-right: 10px;
}

#logo {
    width: 30px;
    height: 30px;
    margin-right: auto;
}

#right-logo1 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#right-logo2 {
    font-size: 10px;
    margin-left: 10px;
}

.icon-button {
    color: #2e2f2b;
    text-decoration: none;
    margin-right: 10px;
}

.icon-button:hover .dropdown {
    filter: brightness(1.5)
}

.dropdown {
    position: absolute;
    background-color: #FFE5D2;
    border: 1px solid #ccc;
    padding: 10px;
    right: 20px;
    display: none;
    margin-top: 2px;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown-item {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 5px 0px;
    text-decoration: none;
    color: black;
    justify-content: flex-end;
}

.dropdown-item:hover {
    background-color: rgba(240, 248, 255, .7);
    filter: brightness(1.5)
}