body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

.navbar {
    align-items: center;
    background-color: #DE6767;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4vh;
}

.navbar-item-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-left: 25px;
    margin-right: 10px;
}

.login-container {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 17%;
}

.username-container,
.password-container,
.email-container {
    padding: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw-class,
.username-class, 
.email-class {
    font-family: 'Courier New', Courier, monospace;
    width: 270px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 300;
}

.submit-bt {
    height: 50px;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

#submit-button {
    height: 40px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: large;
    letter-spacing: 1px;
}

#submit-button:hover {
    filter: brightness(1.5)
}

.signup-container {
    justify-content: flex-start;
}

.signup,
.fgPassword {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 20px;
    width: 168px;
    margin-left: 0;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    padding-left: 0;
    padding-right: 33px;
}

.icon {
    font-size: 60px;
    color: rgb(200, 187, 123);
    padding-bottom: 10px;
}

#back-to-login {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 20px;
    width: 290px;
    margin-left: 0;
    background-color: transparent;
    color: black;
    border: none;
    padding-left: 20px;
  
    
}